.typeTab {
   border: none;
   width: 45vw;
   border-bottom: none;
   margin-bottom: 30px;
}

.typeTab li {
    background-color: #ffff;
    padding: 0rem;
    border: 1px solid black;
    border-collapse: collapse;
}
.typeTab li a {
    padding: 1rem;
    text-decoration: none;
    color: #193f55;
}
.typeTab .activeLi {
    background-color: #193f55;
}
.typeTab .activeLi a {
    color: #ffffff;
}
