.login-container {
    width: 35vw;
}

img {
    width: 40vw;
    position: relative;
    left: 50vw;
    bottom: 30vw;
}

.card-body {
    width: 40vw;
}

@media screen and (max-width: 800px) {
    .slideshow {
        display: none;
    }

    .card-body {
        width: 80vw;
    }

    .login-container {
        width: 70vw;
    }

}
/*
https://img1.picmix.com/output/stamp/normal/9/7/0/8/1078079_cf64b.gif
https://im5.ezgif.com/tmp/ezgif-5-d843365238.gif
*/
