.login-container {
    width: 35vw;
}

img {
    width: 40vw;
    position: relative;
    left: 50vw;
    bottom: 30vw;
}

.card-body {
    width: 40vw;
}

@media screen and (max-width: 800px) {
    .slideshow {
        display: none;
    }

    .card-body {
        width: 80vw;
    }

    .login-container {
        width: 70vw;
    }

}
