.login-container {
    width: 35vw;
}

img {
    width: 40vw;
    position: relative;
}

.card-body {
    width: 40vw;
}

@media screen and (max-width: 800px) {
    .slideshow {
        display: none;
    }

    .card-body {
        width: 80vw;
    }

    .login-container {
        width: 70vw;
    }

}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10vw;
}
.align-item {
    width: 75%;
}
/*
https://img1.picmix.com/output/stamp/normal/9/7/0/8/1078079_cf64b.gif
https://im5.ezgif.com/tmp/ezgif-5-d843365238.gif
*/
