{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>Home inside accounts</h1>
  <p>
     should display status of:
     <ol>
        <li>
           Application
           {% for post in posts %}
              <p>{{post.first_name}}</p>
              <p>{{post.email}}</p>
              <p>{{post.graduating_class}}</p>
              <p>{{post.university}}</p>
              <p>{{post.phone_number}}</p>
              <p>{{post.address}}</p>
           {% endfor %}
        </li>
        <li>
           Campus Ambassador
        </li>
        <li>
           Travel Reimbursement
        </li>
     </ol>
  </p>
</div>

{% endblock %}
