{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block specificcss %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block loginButton %}
{% endblock %}
{% block body %}
<div style="height: 50px"></div>
<div id="accordion">
   <div class="card-body">
       <div width="25vw" class="login-container">
         <h2>Login</h2>
         <div style="height: 25px"></div>
         <form method="post">
           {% csrf_token %}
           <!--{{ form.as_p }}-->
           {{ form|crispy}}
          <div style="height: 25px"></div>
           <button class="applyButton" type="submit">Login</button>
         </form>
        </div>


  </div>
</div>
<img src="{% static 'medhackslogo.png' %}"/>
{% endblock %}
