{% extends 'login_base.html' %}
{% load crispy_forms_tags %}
{% block body %}
{% load static %}
<div class="container">
    <div class="h-100 row align-items-center">
      <div class="card mx-auto rounded logcard">
        <article class="card-body logcard rounded shadow">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 crossbox">
              <img class="box" src="{% static "frozen_cross.png"%}" />
            </div>
            <div class="col-sm-4"></div>
          </div>
          <div class="logobox">
            <img class="box" src="{% static "medhacks_logo_snow.png" %}" />
          </div>
          <div class="row mt-4"></div>
          <h4 class="card-title mb-4 mt-1"><strong>Log into your account</strong></h4>
    	     <form method="post">
             {% csrf_token %}
             {{ form|crispy}}
             <div class="row">
               <div class="form-group col-sm-6">
                 <div class="checkbox">
                   <label> <input type="checkbox"> Remember me </label>
                 </div> <!-- checkbox .// -->
               </div>
               <div class="col-sm-6">
                 <p align="right">
                   <a style="color: black; font-style: italic;" href="{% url 'accounts:reset_password' %}">Forgot password?</a>
                 </p>
               </div> <!-- form-group// -->
             </div>
             <div class="row">
               <div class="form-group col-sm-6">
                 <a class="btn btn-block btn-light" href="{% url 'accounts:register' %}" role="button"> <strong>Sign Up</strong></a>
               </div>
               <div class="form-group col-sm-6">
                 <button type="submit" class="btn btn-light btn-block btn-login"> <strong>Login</strong>  </button>
               </div>
             </div>
           </form>
         </article>
       </div>
  </div>
</div>
{% endblock %}
