{% extends 'base.html' %} {% load crispy_forms_tags %} {% block specificcss %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" /> {% endblock %} {% block loginButton %} {% endblock %} {% block body %}
<div style="height: 50px"></div>

<body background="https://i.imgur.com/56UZL7H.gif" />

<div class="Aligner">
<div id="accordion">
    <div class="card-body">
        <div width="25vw" class="login-container">
            <h2>Login</h2>
            <div style="height: 25px"></div>
            <form method="post">
                {% csrf_token %} {{ form|crispy}}
                <!-- <p>
                    <a style="color: black; font-style: italic;" href="{% url 'accounts:reset_password' %}">
                   Forgot password?
               </a> -->
                </p>
                <div style="height: 25px"></div>
                <button class="applyButton" type="submit">Login</button>
                <a href="{% url 'accounts:no_register' %}">
                <button type="button" class="applyButton">Register</button>
           </a>
            </form>
        </div>


    </div>
</div>
<div class="slideshow" style="max-width: 40vw; margin-top: 20px; vertical-align: middle">
    <img class="mySlides" src="{%static '2017imgs/1.jpg'%}" style="width:100%">
    <img class="mySlides" src="{%static '2017imgs/2.jpg'%}" style="width:100%">
    <img class="mySlides" src="{%static '2017imgs/3.jpg'%}" style="width:100%">
    <img class="mySlides" src="{%static '2017imgs/4.jpg'%}" style="width:100%">
    <img class="mySlides" src="{%static '2017imgs/5.jpg'%}" style="width:100%">
    <img class="mySlides" src="{%static '2017imgs/6.jpg'%}" style="width:100%">
    <img class="mySlides" src="{%static '2017imgs/7.jpg'%}" style="width:100%">
    <img class="mySlides" src="{%static '2017imgs/8.jpg'%}" style="width:100%">
    <img class="mySlides" src="{%static '2017imgs/9.jpg'%}" style="width:100%">
</div>

<script>
    var myIndex = Math.floor(Math.random() * 9);
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
            myIndex = 1
        }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 5000); // Change image every 2 seconds
    }
</script>
{% endblock %}
