{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div id="accordion">
   <div class="card-body">

     <h1>Password reset</h1>
     <p>
       Forgotten your password? Enter your email address below, and we'll email
       instructions for setting a new one.
     </p>
     <div style="height: 20px"></div>
     <form method="post">
       {% csrf_token %}
       <!--{{ form.as_p }}-->
       {{form|crispy}}
       <div style="height: 20px"></div>
       <button class="applyButton" type="submit">Reset Password</button>
     </form>
   </div>

</div>

{% endblock %}
