{% extends 'login_base.html' %} {% load crispy_forms_tags %}
{% load static %}
{% block body %}
<div class="container">
    <div class="h-100 row align-items-center">
      <div class="card mx-auto rounded logcard">
        <article class="card-body logcard rounded shadow">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 crossbox">
              <img class="box" src="{% static "frozen_cross.png"%}" />
            </div>
            <div class="col-sm-4"></div>
          </div>
          <div class="logobox">
            <img class="box" src="{% static "medhacks_logo_snow.png" %}" />
          </div>
          <div class="row mt-4"></div>
          <h4 class="card-title mb-4 mt-1"><strong>Reset Password</strong></h4>
          <p>
              Forgot your password? <br />We'll email you instructions for setting a new one.
          </p>
          <div style="height: 20px"></div>
          <form method="post">
              {% csrf_token %} {{form|crispy}}
              <div style="height: 20px"></div>
              <button class="applyButton" type="submit">Reset Password</button>
          </form>
         </article>
       </div>
  </div>
</div>
{% endblock %}
