{% load i18n %}{% autoescape off %}
{% trans "Hi "%}{{ user.get_short_name }}

{% trans "Thanks for confirming your attendance to MedHacks: Snow Day!" %}

{% trans "We are so excited to have you join us at the Johns Hopkins Medical Campus this September!" %}

{% trans "We will be releasing updates regarding sponsors, tracks, prizes, workshops and more through the next couple of weeks so please be sure to like our <a href="https://www.facebook.com/medhacks">FB page</a>."%}

{% trans "Also, in the meantime feel free to join our <a href="https://www.facebook.com/groups/1862288673814510/">MedHacks: Snow Day FB Participant group</a>. You can use this group to interact with all of our participants and brainstorm ideas." %}

{% trans "We can't wait to see you," %}

{% blocktrans %}The MedHacks team{% endblocktrans %}

{% endautoescape %}
