.login-container {
    width: 35vw;
}

img {
    width: 40vw;
    position: relative;
}

.card-body {
    width: 40vw;
}

@media screen and (max-width: 800px) {
    .slideshow {
        display: none;
    }

    .card-body {
        width: 80vw;
    }

    .login-container {
        width: 70vw;
    }

}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10vw;
}
.align-item {
    width: 75%;
}
