.wmd-panel {
   margin-left: 0px;
   margin-right: 0px;
}
body {
   background-color: #193f55;
   font-family: custom;
}

body, html {
    height: 100%;
    margin: 0;
}

@font-face {
   font-family: custom;
   src: url("../Raleway-Light.ttf");
}
.navbar-brand {
   background-image: url("../medhackslogo.png");
   width: 20rem;
   height: 4rem;
   background-size: contain;
   background-repeat: repeat-x;
}

.btn-login {
  background-color: #193F55;
  color:#fff;
  border-color: #193F55;
}ne of three columns

.navbar {
   background-color: #ffffff !important;
}

.applyButton {
  width: 10rem;
  color: black;
  display: inline-block;
  background-color: #efefef;
  border-radius: 0.5rem;
  transform: scale(0.85);
  transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out;
}

.applyButton:hover {
   transform: scale(1);
   background-color: #BF4D42;
   color: #ffff;
   cursor: pointer;
}

.rightitem {
   padding: 10px 20px;
   text-decoration: none;
   background-color: #193f55;
   color: white !important;
   font-size: 1.3rem;
   border-radius: 0.5rem;
   transform: scale(0.85);
   transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out;
}

.rightitem:hover {
   color: white;
   text-decoration: none;
   background-color: #BF4D42;
   transform: scale(1);
   cursor: pointer;
}
#accordion {
   margin-left: auto;
   margin-right: auto;
   width: 90vw;
}

.card-body {
   background-color: #C4E0EA;
   border-radius: 1rem;
}
.leftitem {
   padding: 10px 20px;
   text-decoration: none;
   color: black !important;
   font-size: 1.3rem;
   border-radius: 0.5rem;
   transform: scale(0.85);
   transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out;
}

.leftitem:hover {
   text-decoration: none;
   background-color: #193f55;
   color: white !important;
   transform: scale(1);
   cursor: pointer;
}
.mb-0 button:hover {
   text-decoration: none;
   color: black;
}
.mb-0 button {
   text-decoration: none;
   color: black;
}

.mb-0 button:active {
   text-decoration: none;
   color: black;
}

.profButton {
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    text-align: center;
    display: block;
}

.bg {
  background-color: #fff;
  background-image: url("../snow_background.jpg");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profilebg {
  background-color: #fff;
  background-image: url("../loginbg.jpg");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logcard {
  background-color: #c0dded;
}

.box {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.menu-logo {
  margin-top: 80;
  margin: auto;
  height: 80;
  width: 80;
}

.menu-logobox {
  height: 50px;
  width: 360px;
}

.logobox {
  height: auto;
  width: 360px;
}

.proflogobox {
  height: auto;
  width: 280px;
}

.crossbox {
  height: auto;
  width: 100px;
}

h1 h2 h3 h4 a p {
  font-family: 'Roboto', sans-serif;
}

.fixed-panel {
  min-height: 500;
  max-height: 800;
  min-width: 850;
  overflow-y: scroll;
}

.fixed-panel-sidebar {
  min-height: 800;
  max-height: 800;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #808080;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #808080;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #808080;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
