<div id="accordion">
    <div class="card-body">
        <h2 style="font-size: 2.5rem">Hello {{user.first_name}}! </h2>
        <div style="height: 25px"></div>
        <ul class="nav nav-tabs typeTab">
          <li class="active activeLi"><a id="statusTab" data-toggle="tab" href="#statusCA">Application Status</a></li>
          <li><a id="travelTab" data-toggle="tab" href="#travelCA">Travel Reimbursements</a></li>
          <li><a id="caTab" data-toggle="tab" href="#campus_ambassador">Campus Ambassador</a></li>
          <li><a id="profTab" data-toggle="tab" href="#profile">Profile</a></li>
        </ul>

        <div class="tab-content">
            <div id="statusCA" class="tab-pane in active">
                {% include './applicationStatus.html' %}
            </div>
            <div id="travelCA" class="tab-pane">
                <h3>Travel Reimbursements</h3>
                <div class="container">
                  {% if user.userprofile.travel_reimbursement == 'Y' %}
                  <p>
                    Please read over the travel reimbursement receipt <a target="_blank" href="https://drive.google.com/open?id=1IRAy-KqUC7yyR0I8wi7oJ1IxWBkLKIlp">requirements</a>. If you fail to adhere to these strict guidelines, your reimbursement will not be processed. We are not responsible for notifying if you incorrectly submitted your reimbursement. If you have any questions email us at reimbursement@medhacks.org.
                  </p>
                  <p>
                    You can now purchase your travel arrangements.
                  </p>
                  {% elif user.userprofile.travel_reimbursement == 'N' %}
                  <p>
                    Thank you for your interest in receiving a travel reimbursement. Due to the high number of applications and limited budget, we unfortunately cannot offer you a travel reimbursement. Thank you!
                  </p>
                  {% else %}
                  <p>
                      The travel reimbursement application is now <a href="{% url 'travel:travel' %}">live</a>. If you've already applied, please disregard.
                  </p>

                  {% endif %}
                </div>
            </div>
            <div id="campus_ambassador" class="tab-pane">
                <h3>Campus Ambassador</h3>
                <div class="container">
                  <p>
                    Thank you for being a campus amabassador! Here are some helpful links:
                    <ul>
                        <li>
                            <a href="https://drive.google.com/drive/u/0/folders/14ROsMqrsVxCfmXTJoRckZiW42kFA0e0F">
                                Resource Folder
                            </a>
                        </li>
                        <li>
                                <a target="_blank" href="https://drive.google.com/open?id=16DEHVO6KDLIUoDewhLJFoqbtxRvrvBGh">
                                    Brochure
                                </a>
                        </li>
                    </ul>
                  </p>
                </div>
            </div>
            <div id="profile" class="tab-pane">
                <h3>Profile</h3>
                <p>Username: {{user}}</p>
                <p>First name: {{user.first_name}}</p>
                <p>Last name: {{user.last_name}}</p>
                <p>Email: {{user.email}}</p>
                <p>
                    <a style="color: black; font-style: italic;" href="{% url 'accounts:change_password' %}">
                        Change Password
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>