<h3>Campus Ambassador</h3>
<div class="container">
    <p>
        Thank you for being a campus amabassador! Here are some helpful links:
        <ul>
            <li>
                <a href="https://drive.google.com/drive/u/0/folders/14ROsMqrsVxCfmXTJoRckZiW42kFA0e0F">
                Resource Folder
            </a>
            </li>
            <li>
                <a target="_blank" href="https://drive.google.com/open?id=16DEHVO6KDLIUoDewhLJFoqbtxRvrvBGh">
                    Brochure
                </a>
            </li>
        </ul>
    </p>
</div>
