{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h1>Application</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
  {% if text is not '' %}
  <p>
    {{ text }}
    {{ first }}
    {{ email }}
    {{ phone_number }}
    {{ address1 }}
    {{ address2 }}
    {{ zipcode }}
    {{ city }}
    {{ country }}
    {{ gender }}
    {{ university }}
    {{ gclass }}
    {{ major }}
    {{ track }}
    {{ reimbursement }}
    {{ contingency }}
    {{ team }}
  </p>
  {% else %}
  <p>
    Don't forget to submit your application before 09/13/2018!
    <a class="nav-link" href={% url 'home:home' %}>Application</a>
  </p>
  {% endif %}
</div>
{% endblock %}
