{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block specificcss %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block body %}
{% if form != None %}
<div class=card-body style="width: 90vw; margin-left: 5vw;">
    <form action={% url 'home:home' %} method="post" enctype='multipart/form-data'>
       {% csrf_token %}
       <!--{{ form.as_p }}-->
      {{form|crispy}}



      <p>{{ form.non_field_errors }}</p>
      <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
      <p>
           {{ form.docfile.errors }}
           {{ form.docfile }}
      </p>
      <p>
         Be sure to like our <a href="https://www.facebook.com/medhacks/?ref=br_rs" target="_blank">Facebook</a> for more updates!
      </p>


      <!--<p><input type="submit" value="Submit" /></p>-->

      <input class="applyButton" type="submit" value="Submit"/>


    </form>
</div>
<div style="height: 50px"></div>
{% else %}
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Application Submission View
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          <p>
            <a href="{{app.resume.url}}" target="_blank"><strong>Resume Submitted</strong></a>
            <br />
          </p>
        </div>
      </div>
    </div>
 <div class="card">
  <div class="card-header" id="headingFour">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Application Status
      </button>
    </h5>
  </div>

  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
    <div class="card-body">
      <div class="container">

         {% if user.userprofile.accepted == 'Y' %}
         <p>
           Congratulations! You have been accepted into 2018 MedHacks! Your travel
           reimbursement details are listed below.
         </p>
         {% elif user.userprofile.accepted == 'N' %}
         <p>
           I'm sorry, due to the large number of applicants this year, we are unable to
           accept you.
         </p>
         {% else %}
         <p>
           Application status pending
         </p>
         {% endif %}

      </div>
    </div>
  </div>

  {% if user.userprofile.campus_ambassador == 'Y' %}

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Campus Ambassador
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div class="container">
          <p>
            Thank you for being a campus amabassador! Here are some helpful links.
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Travel Reimbursement
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div class="container">
          {% if user.userprofile.travel_reimbursement == 'Y' %}
          <p>
            You have been awarded a travel reimbursement!
          </p>
          {% elif user.userprofile.travel_reimbursement == 'N' %}
          <p>
            You are not eligible for a travel reimbursement.
          </p>
          {% else %}
          <p>

            Travel reimbursement application pending! (All reimbursements statuses
            will be marked as pending, even if you selected 'No' in the
            application).
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endif %}


{% endblock %}
